language: android
jdk: oraclejdk8
android:
  components:
    # Install tools twice to get the latest update
    - tools
    - tools
    - platform-tools
    - build-tools-27.0.3

    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository
  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
before_install:
    # Android SDK installation is a mess, especially with licenses. Not sure if all of this is required, but it works.
    - echo "$ANDROID_HOME"
    - mkdir -p "$ANDROID_HOME/licenses"
    - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
    - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
    - yes | sdkmanager "platforms;android-27"

script:
    # build includes lint and test
    - TERM=dumb ./gradlew build

after_failure:
    - cat **/build/reports/lint-results.xml
