language: android
jdk: oraclejdk8
android:
  components:
    # Install tools twice to get the latest update
    - tools
    - tools
    - platform-tools
    - build-tools-25.0.2

    - android-25

    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository
  licenses:
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
script:
    # build includes lint and test
    - TERM=dumb ./gradlew build

after_failure:
    - cat **/build/reports/lint-results.xml
